<!DOCTYPE html>
<html>

<head>
  <title>Raghu Betina</title>

  <meta charset="utf-8">
</head>

<body>
  <img src="/classmate_pics/raghu-b-profile.jpg" height="100">
  <img src="/classmate_pics/raghu-b-cover.jpg" height="100">

  <h1>Raghu Betina</h1>
  <a href="/">Back to all people</a>

  <h2>Where I'm from</h2>

  <p>I grew up all over the U.S., worked in India for a while, and have lived in Chicago longer than anywhere else
    — it's home.</p>

  <h2>Some app ideas</h2>

  <ul>
    <li>Text me a few minutes before it's time to check-in for Southwest flights (before everyone else gets their
      push notification).</li>
    <li>Help me remember which restaurants serve my favorite versions of every dish.</li>
    <li>An app store for teachers that blends seamlessly with Canvas.</li>
  </ul>

  <h2>Some photos</h2>

  <img src="/classmate_pics/raghu-b-1.jpg" height="100">
  <img src="/classmate_pics/raghu-b-2.jpg" height="100">
  <img src="/classmate_pics/raghu-b-3.jpg" height="100">
  <img src="/classmate_pics/raghu-b-4.jpg" height="100">

  <h2>Some things I've done</h2>

  <table border="1">
    <tr>
      <th>When</th>

      <th>Where</th>

      <th>What</th>
    </tr>

    <tr>
      <td>2014 - Present</td>

      <td>Booth School of Business</td>

      <td>Clinical Assistant Professor of Operations Management & Entrepreneurship</td>
    </tr>

    <tr>
      <td>2017 - 2019</td>

      <td>Neal Sáles-Griffin for Chicago</td>

      <td>Policy Director & CTO</td>
    </tr>

    <tr>
      <td>2012 - 2013</td>

      <td>The Starter League</td>

      <td>Lead Instructor & Managing Partner</td>
    </tr>

    <tr>
      <td>Other</td>

      <td colspan="2">
        Visit my
        <a href="https://www.linkedin.com/in/raghubetina" target="_blank">
          LinkedIn
        </a>
        profile for more details.
      </td>
    </tr>
  </table>


  <h2>Leave a note</h2>

  <form action="https://www.chicagobooth.edu">
    <div>
      <label for="name_input">Hi! What's your name?</label>
      <input id="name_input" type="text" name="sender_name" placeholder="Nice to see you" size="50">
    </div>

    <div>
      <label for="contact_info_input">How do we reach you?</label>
      <input id="contact_info_input" type="text" name="contact_info" placeholder="If you want to be reached" size="50"
        value="No thank you">
    </div>

    <div>
      <label for="message_body_textarea">What's on your mind?</label>
      <textarea id="message_body_textarea" name="message_body" placeholder="Do go on..." rows="5" cols="50"></textarea>
    </div>

    <button>Send!</button>
  </form>

  <h2>Let me Google that for you</h2>

  <form action="https://www.google.com/search">
    <div>
      <label for="search_query_input">What do you wish to know?</label>
      <input id="search_query_input" type="text" name="q" placeholder="Anything. Anything at all." size="50">
    </div>

    <button>Search!</button>
  </form>
</body>

</html>
